terraform {
  backend "s3" {
    bucket         = "your-terraform-state-bucket"
    key            = "electronic-shop-online/dev/terraform.tfstate"
    region         = "eu-central-1"
    dynamodb_table = "your-terraform-lock-table"
    encrypt        = true
  }
}
